<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
 <h1 class="text text-center">Employee Detail</h1>
<table class="table table-bordered">

 <tr>
  <th>First Name</th>
  <td>{{ e.first_name }}</td>
 </tr>

<tr>
  <th>Last Name</th>
  <td>{{ e.last_name }}</td>
</tr>

 <tr>
  <th>Email</th>
  <td>{{ e.email }}</td>
 </tr>

 <tr>
  <th>Phone</th>
  <td>{{ e.phone }}</td>
 </tr>

 <tr>
  <th>Date of Birth</th>
  <td>{{ e.date_of_birth }}</td>
 </tr>

 <tr>
  <th>Address</th>
  <td>{{ e.address }}</td>
 </tr>

 <tr>
  <th>Department</th>
  <td>{{ e.department }}</td>
 </tr>

</table>
 </center>

{% endblock %}
